body {
    margin: 0;
}

.container {
    width: 600px;
    border: 1px solid red;
    margin: 0 auto;
}

button.button {

}

.button.black {

}

header {

}

header nav > a {

}
.new-su {

}

body .new-su {

}
